/* Colors
   ========================================================================== */

// Base
$btn-hover-alpha-base: 0.8;
$backdrop-alpha-base: 0.5;

// Gray palette
$grays: (
        white : #fff,
        100 : #f8f9fa,
        200 : #e9ecef,
        300 : #dee2e6,
        400 : #ced4da,
        500 : #adb5bd,
        600 : #6c757d,
        700 : #495057,
        800 : #343a40,
        900 : #212529,
        black : #000
);

// Text color scheme
$text-clrs: (
        primary : #96ffff,
        secondary : #022449,
        info : #55bdca,
        highlight : #f27d42,
        muted : map-get($grays, 700),
        success : #7AFC46,
        warning : #fcee46,
        danger : #fc6b46,
        black : map-get($grays, black),
        white : map-get($grays, white),
        light : map-get($grays, white), // change
        dark : map-get($grays, black) // change
);

// Background color scheme
$bg-clrs: (
        primary : #55bdca,
        secondary : #022449,
        info : #c8eff9,
        highlight : #f27d42,
        muted : map-get($grays, 500),
        success : #7AFC46,
        warning : #fcee46,
        danger : #fc6b46,
        light : map-get($grays, 200), // change
        dark : map-get($grays, 800) // change
);
