/* Typography
   ========================================================================== */
@font-face {
  font-family: "Open sans";
  src: url("/src/Assets/Fonts/openSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Open sans";
  src: url("/src/Assets/Fonts/openSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
/* Breakpoints
   ========================================================================== */
/* Layout
   ========================================================================== */
/* Paths
   ========================================================================== */
/* Z-index
   ========================================================================== */
/* Borders
   ========================================================================== */
/* Spacing
   ========================================================================== */
/* Typography
   ========================================================================== */
/**
 * Set the font size and the line height
 *
 * @param   $size   the size of font, default value '$font-size-base'
 */
/* Align
   ========================================================================== */
/**
 * Set the flexbox parent container
 *
 * @param   $direction    the direction of elements, default value 'row'
 * @param   $wrap         the wrap of container, default value 'nowrap'
 * @param   $align        the align of content, default value 'stretch'
 * @param   $justify      the justify of items, default value 'space-around'
 * @param   $gap          the gap between items, default value '0'
 */
/* Grid
   ========================================================================== */
/**
 * Set the grid parent container
 *
 * @param   $cols               sizes of columns, default value '1fr'
 * @param   $rows               sizes of rows, default value '1fr'
 * @param   $align-content      the align of content, default value 'center'
 * @param   $justify-content    the justify of content, default value 'center'
 * @param   $align-items        the align of items, default value 'stretch'
 * @param   $justify-items      the justify of items, default value 'stretch'
 * @param   $gap                the gap between items, default value '0'
 */
/* Document
   ========================================================================== */
/**
 * Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * Show the overflow in Edge and IE.
 */
hr {
  height: 0;
  overflow: visible;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Remove the bottom border in Chrome 57-
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border: none;
}

/* Forms
   ========================================================================== */
/**
 * Show the overflow in IE.
 * Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

/**
 * Correct the text wrapping in Edge and IE.
 * Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Add the correct box sizing in IE 10.
 * Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance in Chrome and Safari.
 * Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Document
   ========================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
}

/* Text-level semantics
   ========================================================================== */
a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Forms
   ========================================================================== */
button:focus {
  outline: none;
}

.shown {
  display: block !important;
}

.hidden {
  display: none !important;
}

/* Document
   ========================================================================== */
* {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headings
   ========================================================================== */
h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.15rem;
  line-height: 1.4rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* Grouping content
   ========================================================================== */
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/* Text-level semantics
   ========================================================================== */
b,
strong {
  font-weight: bold;
}

code,
kbd,
samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

small {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

sup,
sub {
  font-size: 0.75rem;
}

/* Forms
   ========================================================================== */
::-webkit-file-upload-button {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* Colors
   ========================================================================== */
/* Global
   ========================================================================== */
/**
 * Page layout container
 *
 * Use to the body or the page container
 * Set the grid-template-areas to create the page layout
 */
.lyt-base-container, .body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

/**
 * Layout container
 *
 * Use to the document layout container (header, navbar, main, etc.)
 */
/**
 * Full bleed layout wrapper
 *
 * Use as a wrapper to create the full-bleed element
 */
/* Column fluid layout
   ========================================================================== */
/**
 * Layout content container
 *
 * Use to the content container in the document layout container
 */
/**
 * Layout content wrapper
 *
 * Use as a wrapper to set occupation of columns
 *
 * @param   $width  the element row occupation, default value '1'
 */
.header {
  display: grid;
  grid-template-columns: [container-start content-start] 1fr [content-end container-end];
  grid-area: header;
  background: #55bdca;
}
@media (min-width: 48rem) {
  .header {
    grid-template-columns: [container-start pad-1-start] 1fr [pad-1-end content-start] minmax(48rem, 67rem) [content-end pad-2-start] 1fr [pad-2-end container-end];
  }
}

.header__content-container {
  padding: 1rem;
  display: grid;
  grid-column: content-start/content-end;
  grid-template-columns: [content-start] repeat(12, [col-start] 1fr [col-end]) [content-end];
  grid-column-gap: 1rem;
}
@media (min-width: 48rem) {
  .header__content-container {
    padding: 1.5rem;
    grid-column-gap: 1.5rem;
  }
}

.header__content-wrapper {
  grid-column-end: span 12;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
@media (min-width: 48rem) {
  .header__content-wrapper {
    gap: 0;
  }
}

.header__title {
  color: #fff;
}
@media (min-width: 48rem) {
  .header__title {
    font-size: 5rem;
    line-height: 5.25rem;
  }
}

/**
 * Create the card
 *
 * @param   $bg-color   the background color, default value 'transparent'
 * @param   $radius     the border radius, default value 'true'
 * @param   $shadow     the box-shadow, default value 'none'
 */
.navbar__links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 1.5rem;
}
@media (min-width: 48rem) {
  .navbar__links {
    gap: 2.25rem;
  }
}

.navbar__link {
  color: #adb5bd;
}

.mobile-navbar {
  padding: 1rem;
  background: #022449;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 0;
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: none;
}
@media (min-width: 48rem) {
  .mobile-navbar {
    padding: 1.5rem;
  }
}

.cst-navbar {
  padding: 1rem;
  background: #022449;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 0;
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  display: none;
}
@media (min-width: 48rem) {
  .cst-navbar {
    padding: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .cst-navbar {
    padding-top: 9.75rem;
    padding-bottom: 5.75rem;
    display: block;
  }
}

.main {
  display: grid;
  grid-template-columns: [container-start content-start] 1fr [content-end container-end];
  grid-area: main;
}
@media (min-width: 80rem) {
  .main {
    grid-template-columns: [container-start pad-1-start] 20rem [pad-1-end content-start] 1fr [content-end container-end];
  }
}

.main__content-container {
  padding: 1rem;
  display: grid;
  grid-column: content-start/content-end;
  grid-template-columns: [content-start] repeat(12, [col-start] 1fr [col-end]) [content-end];
  grid-column-gap: 1rem;
}
@media (min-width: 48rem) {
  .main__content-container {
    padding: 1.5rem;
    grid-column-gap: 1.5rem;
  }
}

.main__content-wrapper {
  grid-column-end: span 12;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .main__content-wrapper {
    gap: 1.5rem;
  }
}

.footer {
  display: grid;
  grid-template-columns: [container-start content-start] 1fr [content-end container-end];
  grid-area: footer;
  background: #022449;
}
@media (min-width: 48rem) {
  .footer {
    grid-template-columns: [container-start pad-1-start] 1fr [pad-1-end content-start] minmax(48rem, 67rem) [content-end pad-2-start] 1fr [pad-2-end container-end];
  }
}

.footer__content-container {
  padding: 1rem;
  display: grid;
  grid-column: content-start/content-end;
  grid-template-columns: [content-start] repeat(12, [col-start] 1fr [col-end]) [content-end];
  grid-column-gap: 1rem;
}
@media (min-width: 48rem) {
  .footer__content-container {
    padding: 1.5rem;
    grid-column-gap: 1.5rem;
  }
}

.footer__content-wrapper {
  grid-column-end: span 12;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 0;
}
@media (min-width: 48rem) {
  .footer__content-wrapper {
    gap: 0;
  }
}

.footer__copyrights {
  color: #fff;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

/**
 * Create the button
 *
 * @param   $bg-color     the background color
 * @param   $text-color   the text color
 */
/**
 * Create the squared padded button
 *
 * @param   $bg-color     the background color, default value 'primary'
 * @param   $text-color   the text color, default value 'primary'
 * @param   $spacing      the padding of button, default value 'map-get($spacing, 5)'
 */
/**
 * Create the x:y padded button
 *
 * @param   $bg-color     the background color, default value 'primary'
 * @param   $text-color   the text color, default value 'primary'
 * @param   $spacing-y    the padding of button on y axis, default value 'map-get($spacing, 6)'
 * @param   $spacing-x    the padding of button on x axis, default value 'map-get($spacing, 5)'
 */
.mobile-toggle-btn {
  border-radius: 16px;
  background: #022449;
  color: #c8eff9;
  cursor: pointer;
  padding: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 0;
  width: 2.75rem;
  height: 2.75rem;
}
.mobile-toggle-btn:active, .mobile-toggle-btn:hover {
  background: rgba(2, 36, 73, 0.8);
}
@media (min-width: 48rem) {
  .mobile-toggle-btn {
    gap: 0;
  }
}
@media (min-width: 80rem) {
  .mobile-toggle-btn {
    display: none;
  }
}

.mobile-toggle-btn__bar {
  height: 0.25rem;
  border-radius: 16px;
  background: white;
}
@media (min-width: 48rem) {
  .mobile-toggle-btn__bar {
    height: 0.32rem;
  }
}

.example {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  background: #96ffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 16px;
}
@media (min-width: 48rem) {
  .example {
    gap: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .example {
    padding: 1.5rem;
  }
}

.example__title {
  text-align: center;
  color: #022449;
}

.example__content {
  padding: 1rem;
  background: #022449;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
  overflow-x: scroll;
}
@media (min-width: 48rem) {
  .example__content {
    padding: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .example__content {
    gap: 1.5rem;
  }
}
.example__content::-webkit-scrollbar {
  height: 1rem;
  background: transparent;
}
.example__content::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #f27d42;
}

.example-property {
  padding: 1rem;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-shrink: 0;
  overflow: hidden;
}
@media (min-width: 48rem) {
  .example-property {
    padding: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .example-property {
    gap: 1.5rem;
  }
}

.example-property__title {
  color: #55bdca;
}

.example-property__content, .example-property__content--implicit, .example-property__content--center, .example-property__content--one-col, .example-property__content--one-row {
  display: grid;
  grid-template: [row-1-start] 150px [row-1end row-2-start] 150px [row-2-end]/[col-1-start] 150px [col-1-end col-2-start] 150px [col-2-end];
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
  grid-gap: 1rem;
  width: 600px;
  height: 600px;
}
@media (min-width: 48rem) {
  .example-property__content, .example-property__content--implicit, .example-property__content--center, .example-property__content--one-col, .example-property__content--one-row {
    grid-gap: 1.5rem;
  }
}
.example-property__content--one-row {
  grid-template-rows: 100px;
}
.example-property__content--one-col {
  grid-template-columns: 100px;
}
.example-property__content--center {
  align-items: center;
  justify-items: center;
}
.example-property__content--implicit {
  grid-template: 100px/200px;
}

.example-property__item, .example-property__item--sized {
  padding: 1rem;
  background: #96ffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 16px;
}
@media (min-width: 48rem) {
  .example-property__item, .example-property__item--sized {
    padding: 1.5rem;
  }
}
.example-property__item--sized {
  height: 100px;
  width: 100px;
}

/* Demo
   ========================================================================== */
#gridTemplateRows {
  grid-template-rows: 1fr 100px 25% auto;
}

#gridTemplateRowsNamedLines {
  grid-template-rows: [row-1-start] 1fr [row-1-end row-2-start] 100px [row-2-end row-3-start] 25% [row-3-end row-4-start] auto [row-4-end];
}

#gridTemplateColumns {
  grid-template-columns: 1fr 100px 25% auto;
}

#gridTemplateColumnsNamedLines {
  grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 100px [col-2-end col-3-start] 25% [col-3-end col-4-start] auto [col-4-end];
}

#gridTemplate {
  grid-template: 100px 100px/200px 200px;
}

#gridTemplateNamedLines {
  grid-template: [row-1-start] 100px [row-1-end row-2-start] 100px [row-2-end]/[col-1-start] 200px [col-1-end col-2-start] 200px [col-2-end];
}

#gridTemplateAreas {
  grid-template-areas: "area-1 area-2" ". area-3";
}

#gridTemplateAreasItem-1 {
  grid-area: area-1;
}

#gridTemplateAreasItem-2 {
  grid-area: area-2;
}

#gridTemplateAreasItem-3 {
  grid-area: area-3;
}

#automaticallyGeneratedAreas {
  grid-template-rows: repeat(2, [row-start] 100px [row-end]);
  grid-template-columns: repeat(2, [col-start] 200px [col-end]);
}

#automaticallyGeneratedAreasItem {
  grid-column: col-start 1/col-end 2;
}

#gridRowGap {
  grid-row-gap: 5rem;
}

#gridColumnGap {
  grid-column-gap: 5rem;
}

#gridGap {
  grid-gap: 5rem 5rem;
}

#alignContentStart {
  align-content: start;
}

#alignContentEnd {
  align-content: end;
}

#alignContentCenter {
  align-content: center;
}

#alignContentStretch {
  grid-template-rows: 1fr 1fr;
  align-content: stretch;
}

#alignContentSpaceBetween {
  align-content: space-between;
}

#alignContentSpaceAround {
  align-content: space-around;
}

#alignContentSpaceEvenly {
  align-content: space-evenly;
}

#justifyContentStart {
  justify-content: start;
}

#justifyContentEnd {
  justify-content: end;
}

#justifyContentCenter {
  justify-content: center;
}

#justifyContentStretch {
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
}

#justifyContentSpaceBetween {
  justify-content: space-between;
}

#justifyContentSpaceAround {
  justify-content: space-around;
}

#justifyContentSpaceEvenly {
  justify-content: space-evenly;
}

#placeContent {
  place-content: start end;
}

#alignItemsStart {
  align-items: start;
}

#alignItemsEnd {
  align-items: end;
}

#alignItemsCenter {
  align-items: center;
}

#alignItemsStretch {
  align-items: stretch;
}

#justifyItemsStart {
  justify-items: start;
}

#justifyItemsEnd {
  justify-items: end;
}

#justifyItemsCenter {
  justify-items: center;
}

#justifyItemsStretch {
  justify-items: stretch;
}

#placeItems {
  place-items: start end;
}

#gridAutoRows {
  grid-auto-rows: 75px;
}

#gridAutoColumns {
  grid-auto-flow: column;
  grid-auto-columns: 150px;
}

#gridAutoFlowRow {
  grid-auto-flow: column;
}

#gridAutoFlowRow {
  grid-auto-flow: row;
}

#gridAutoFlowColumn {
  grid-auto-flow: column;
}

#gridRowStart {
  grid-row-start: 2;
}

#gridRowStartNamedLines {
  grid-row-start: row-2-start;
}

#gridRowEnd {
  grid-row-end: 3;
}

#gridRowEndNamedLines {
  grid-row-end: row-2-end;
}

#gridRowSpan {
  grid-row: 1/span 2;
}

#gridRowNamedLines {
  grid-row: row-1-start/row-2-end;
}

#gridRow {
  grid-row: 1/3;
}

#gridColumnStart {
  grid-column-start: 2;
}

#gridColumnStartNamedLines {
  grid-column-start: col-2-start;
}

#gridColumnEnd {
  grid-column-end: 3;
}

#gridColumnEndNamedLines {
  grid-column-end: col-2-end;
}

#gridColumnSpan {
  grid-column: 1/span 2;
}

#gridColumnNamedLines {
  grid-column: col-1-start/col-2-end;
}

#gridColumn {
  grid-column: 1/3;
}

#gridArea {
  grid-area: 1/1/3/3;
}

#overlayItem1 {
  grid-column: 1/3;
  grid-row: 1/1;
}

#overlayItem2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

#alignSelfStart {
  align-self: start;
}

#alignSelfEnd {
  align-self: end;
}

#alignSelfCenter {
  align-self: center;
}

#alignSelfStretch {
  align-self: stretch;
}

#justifySelfStart {
  justify-self: start;
}

#justifySelfEnd {
  justify-self: end;
}

#justifySelfCenter {
  justify-self: center;
}

#justifySelfStretch {
  justify-self: stretch;
}

#placeSelf {
  place-self: start end;
}

/*# sourceMappingURL=index.css.map */
