@use '../../Assets/Styles/Abstracts/variables' as *;
@use '../../Assets/Styles/Abstracts/mixins' as *;
@use '../../Assets/Styles/Base/colors' as *;
@use '../../Components/UI/Card/card' as *;

.example {
  @include align-content($direction: column, $align: stretch, $gap: $spacing-base);
  @include card($bg-color: primary, $shadow: $shadow-base);
}

.example__title {
  text-align: center;
  color: map-get($text-clrs, secondary);
}

.example__content {
  @include card($bg-color: secondary, $shadow: $shadow-base);
  @include align-content($justify: flex-start, $gap: $spacing-base);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 1rem;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius-base;
    background: map-get($bg-clrs, highlight);
  }
}
