@use '../../Assets/Styles/Abstracts/variables' as *;
@use '../../Assets/Styles/Abstracts/mixins' as *;
@use '../../Assets/Styles/Base/colors' as *;
@use '../../Components/UI/Card/card' as *;

.example-property {
  @include card($bg-color: white, $shadow: $shadow-base);
  @include align-content($direction: column, $align: center, $gap: $spacing-base);
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.example-property__title {
  color: map-get($text-clrs, info);
}

.example-property__content {
  @include grid-content([row-1-start] 150px [row-1end row-2-start] 150px [row-2-end], [col-1-start] 150px [col-1-end col-2-start] 150px [col-2-end], $gap: $spacing-base);
  height: 600px;
  width: 600px;

  &--one-row {
    @extend .example-property__content;
    grid-template-rows: 100px;
  }

  &--one-col {
    @extend .example-property__content;
    grid-template-columns: 100px;
  }

  &--center {
    @extend .example-property__content;
    align-items: center;
    justify-items: center;
  }

  &--implicit {
    @extend .example-property__content;
    grid-template: 100px / 200px;
  }
}

.example-property__item {
  @include card($bg-color: primary, $shadow: $shadow-base);

  &--sized {
    @extend .example-property__item;
    height: 100px;
    width: 100px;
  }
}