@use '../../../Assets/Styles/Abstracts/variables' as *;
@use '../../../Assets/Styles/Abstracts/mixins' as *;
@use '../../../Assets/Styles/Base/colors' as *;

/**
 * Create the card
 *
 * @param   $bg-color   the background color, default value 'transparent'
 * @param   $radius     the border radius, default value 'true'
 * @param   $shadow     the box-shadow, default value 'none'
 */
@mixin card($bg-color: transparent, $radius: true, $shadow: none) {
  padding: $spacing-base;
  background: map-get($bg-clrs, $bg-color);
  box-shadow: $shadow;

  @if $radius {
    border-radius: $border-radius-base;
  } @else {
    border-radius: 0;
  }

  @media (min-width: map-get($breakpoints, md)) {
    padding: $spacing-md;
  }
}
