@use 'variables' as *;

/* Typography
   ========================================================================== */

/**
 * Set the font size and the line height
 *
 * @param   $size   the size of font, default value '$font-size-base'
 */
@mixin set-font-size($size: $font-size-base) {
  font-size: $size;
  line-height: $size + $leading-base;
}

/* Align
   ========================================================================== */

/**
 * Set the flexbox parent container
 *
 * @param   $direction    the direction of elements, default value 'row'
 * @param   $wrap         the wrap of container, default value 'nowrap'
 * @param   $align        the align of content, default value 'stretch'
 * @param   $justify      the justify of items, default value 'space-around'
 * @param   $gap          the gap between items, default value '0'
 */
@mixin align-content($direction: row, $wrap: nowrap, $align: stretch, $justify: space-around, $gap: 0) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;

  @media (min-width: map-get($breakpoints, md)) {
    gap: $gap * $gap-ratio-md;
  }
}
