/* Typography
   ========================================================================== */

// Font imports
@font-face {
  font-family: "Roboto";
  src: url("/src/Assets/Fonts/roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/Assets/Fonts/roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/src/Assets/Fonts/robotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/src/Assets/Fonts/robotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

// Font stacks
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-sans: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-mono: "RobotoMono", Menlo, Monaco, "Courier New", monospace;

// Base
$font-heading-ratios: (
        1 : 2.5rem,
        2 : 2rem,
        3 : 1.75rem,
        4 : 1.15rem,
        5 : 1.25rem,
        6 : 1rem
);

$font-ratios: (
        1 : 1.75rem,
        2 : 1.5rem,
        3 : 1.25rem,
        4 : 1rem,
        5 : 0.75rem,
        6 : 0.5rem,
        7 : 0.25rem
);

$font-size-base: 1rem;
$leading-base: 0.25rem;
$line-height-base: $font-size-base + $leading-base;
$font-family-base: $font-family-sans;

/* Breakpoints
   ========================================================================== */

// Base
$breakpoints: (
        sm : 36rem,
        md : 48rem,
        lg : 64rem,
        xl : 80rem,
        xxl : 90rem,
        xxxl : 120rem
);

/* Layout
   ========================================================================== */

// Layout pad
$lyt-pad-width-base: 1fr;

// Layout content
$lyt-content-width-base: 1fr;
$lyt-content-min-width-md: 48rem;
$lyt-content-max-width-md: 67rem;

// Layout columns
$lyt-content-column-width-base: 1fr;
$lyt-content-columns-base: 12;

/* Paths
   ========================================================================== */

$img-path: "/src/Assets/Images/";

/* Z-index
   ========================================================================== */

// Base
$z-index: (
        dropdown : 1000,
        sticky : 1020,
        fixed : 1030,
        modal-backdrop : 1040,
        modal : 1050,
        popover : 1060,
        tooltip : 1070
);

/* Borders
   ========================================================================== */

// Base
$border-radius-base: 16px;
$shadow-base: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

/* Spacing
   ========================================================================== */

// Base
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$gap-ratio-md: 1.5;

$spacing-ratios: (
        1 : 5,
        2 : 3,
        3 : 2.5,
        4 : 2,
        5 : 1.5,
        6 : 1,
        7 : 0.5
);

$spacing: (
        1 : $spacing-base * map-get($spacing-ratios, 1),
        2 : $spacing-base * map-get($spacing-ratios, 2),
        3 : $spacing-base * map-get($spacing-ratios, 3),
        4 : $spacing-base * map-get($spacing-ratios, 4),
        5 : $spacing-base * map-get($spacing-ratios, 5),
        6 : $spacing-base * map-get($spacing-ratios, 6),
        7 : $spacing-base * map-get($spacing-ratios, 7),
);

$spacing-x: (
        1 : 0 $spacing-base * map-get($spacing-ratios, 1),
        2 : 0 $spacing-base * map-get($spacing-ratios, 2),
        3 : 0 $spacing-base * map-get($spacing-ratios, 3),
        4 : 0 $spacing-base * map-get($spacing-ratios, 4),
        5 : 0 $spacing-base * map-get($spacing-ratios, 5),
        6 : 0 $spacing-base * map-get($spacing-ratios, 6),
        7 : 0 $spacing-base * map-get($spacing-ratios, 7),
        auto : 0 auto
);

$spacing-y: (
        1 : $spacing-base * map-get($spacing-ratios, 1) 0,
        2 : $spacing-base * map-get($spacing-ratios, 2) 0,
        3 : $spacing-base * map-get($spacing-ratios, 3) 0,
        4 : $spacing-base * map-get($spacing-ratios, 4) 0,
        5 : $spacing-base * map-get($spacing-ratios, 5) 0,
        6 : $spacing-base * map-get($spacing-ratios, 6) 0,
        7 : $spacing-base * map-get($spacing-ratios, 7) 0
);
