@use '../../Assets/Styles/Abstracts/mixins' as *;
@use '../../Assets/Styles/Abstracts/variables' as *;
@use '../../Assets/Styles/Base/colors' as *;
@use '../Grid/grid' as *;

.footer {
  @include lyt-container;
  grid-area: footer;
  background: map-get($bg-clrs, secondary);
}

.footer__content-container {
  @include lyt-content-container;
}

.footer__content-wrapper {
  @include lyt-content-wrapper;
  @include align-content;
}

.footer__copyrights {
  color: map-get($text-clrs, white);
}
